bin/*
flows/*
logs/*
outputFiles/*
archives/*
mobility/*
tests/*
inc/*bak
src/lex.yy.c
src/y.tab.c
inc/y.tab.h
doc/*.aux
doc/*.log
doc/*.out
doc/*.txt
doc/*.synctex.gz
doc/*converted*
cscope*
temp.dump
*.txt
